:root {
  --bkColor: #E0E0E0;
  --cardColor: #fff;
  --textColor: #000;
  --btnTextColor: #fff;
  --btnHeight: 36px;
  --accentColor: #6200ee;
  --borderRadius: 4px;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #E0E0E0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 64px;
  padding: 0 24px;
  width: 100%;
  z-index: 200;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  color: var(--textColor);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(64px + 1.5rem) auto;
}

.gameCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0 5%;
}
.gameCards__btn-search {
  border-radius: var(--borderRadius);
  height: var(--btnHeight);
  padding: 0 16px;
  background-color: var(--accentColor);
  color: var(--btnTextColor);
  border: none;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
  cursor: pointer;
}
.gameCards__btn-search:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.card {
  border-radius: var(--borderRadius);
  background-color: var(--cardColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 56px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.5s;
}
.card:hover {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.card__image {
  aspect-ratio: 16/9;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.card__title {
  padding: 16px 16px 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}
.card__author, .card__description {
  padding: 16px 16px 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  opacity: 0.6;
}
.card__author {
  padding-top: 0;
}
.card .btn-download__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--accentColor);
  background-color: transparent;
  border-radius: var(--borderRadius);
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 8px;
  text-transform: uppercase;
  height: var(--btnHeight);
}
.card .btn-download__link__:hover {
  background-color: rgba(101, 0, 235, 0.1);
}
.card .btn-download__container {
  position: absolute;
  bottom: 16px;
  height: var(--btnHeight);
}
